<div *ngIf="!isLoaded; else loading">
    <div class="card">
        <img class="card-img-top" src="../../../../assets/fixed-icome.jpg" height="150" alt="Card image cap">
        <div class="card-header bg-dark">
            <div class="row">
              <h2 *ngIf="isNew" class="card-header-title text-white">Creación de nuevo ingreso</h2>
              <h2 *ngIf="!isNew" class="card-header-title text-white">Edición de un ingreso</h2>
            </div>
        </div>
        <div class="card-img-overlay text-right">
            <!-- <div class="btn-group-vertical col-sm-3">
              <button type="button" class="btn btn-warning shadow" (click)="return()"> <i class="fa fa-long-arrow-alt-left"></i> Regresar</button>
            </div> -->
        </div>
        <div class="card-body" style="z-index: 2">
          <form class="form p-5" [formGroup]="formData" (submit)="formDataSubmit()">
              <div class="form-row">
                    <div class="form-group col-md-6" [class.d-none]="isNew">
                        <label>
                              <i class="fa fa-info-circle _popover hover" title="Fecha de creación" data-content="Fecha y hora exacta en la se creo el registro."></i>
                              Fecha de creación
                        </label>
                        <input type="text" [disableControl]="true" formControlName="created_at" class="form-control " placeholder="YYY-MM-DD HH:MM:SS">
                        <message-error [control]="formData.controls.created_at" ></message-error>
                    </div>
  
                    <div class="form-group col-md-6"  [class.d-none]="isNew">
                        <label>
                              <i class="fa fa-info-circle _popover hover" title="Fecha de actualización" data-content="Fecha y hora exacta de la última vez que actualizaste el registro."></i>
                              Fecha de la última actualización
                        </label>
                        <input type="text" [disableControl]="true" formControlName="update_at" class="form-control " placeholder="YYY-MM-DD HH:MM:SS">
                        <message-error [control]="formData.controls.update_at" ></message-error>
                    </div>
              </div>
  
              <div class="form-group required">
                  <label>
                        <i class="fa fa-info-circle _popover hover" title="Nombre del ingreso" data-content="Nombre del ingreso."></i>
                        Nombre del ingreso
                  </label>
                  <input type="text" formControlName="name" class="form-control " [class.is-invalid]="_util.getError(formData.controls.name)" placeholder="Nombre del ingreso">
                  <message-error [control]="formData.controls.name" ></message-error>
              </div>
  
              <div class="form-group">
                <label>
                    <i class="fa fa-info-circle _popover hover" title="Descripción" data-content=""></i>
                    Descripción
                </label>
                <input type="text" placeholder="Descripción" name="description" id="description" formControlName="description" class="form-control" [class.is-invalid]="_util.getError(formData.controls.description)">
                <message-error [control]="formData.controls.description" ></message-error>
              </div>
              
            <div class="form-row">
                <div class="form-group col-md-6 required">
					<label>
						<i class="fa fa-info-circle _popover hover" title="Cuenta a acreditar" data-content="En esta cuenta se acreditará el monto del nuevo ingreso."></i>
						Seleccione una cuenta
					</label>
					<select name="account_fk" id="account_fk" formControlName="account_fk" class="form-control" [class.is-invalid]="_util.getError(formData.controls.account_fk)">
						<option [value]="acc.id" *ngFor="let acc of listAccounts"> {{acc.name}} </option>
					</select>
					<message-error [control]="formData.controls.account_fk" ></message-error>
                </div>
              
                <div class="form-group col-md-6 required">
                    <label>
                        <i class="fa fa-info-circle _popover hover" title="Categoria" data-content=""></i>
                        Categorias
                    </label>
                    <select name="category_fk" id="category_fk" formControlName="category_fk" class="form-control" [class.is-invalid]="_util.getError(formData.controls.category_fk)">
                      <option [value]="cat.id" *ngFor="let cat of listCategories"> {{cat.name}} </option>
                    </select>
                    <message-error [control]="formData.controls.category_fk" ></message-error>
				</div>
			</div>
  
			<div class="form-group required">
				<label>
					<i class="fa fa-info-circle _popover hover" title="Saldo disponible" data-content="Este valor ira cambiando segun el uso que le des a la tarjeta."></i>
					Monto de ingreso
				</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> {{ _util.getDataUser('currency_symbol') }} </span>
					</div>
					<input type="text" formControlName="amount" class="form-control" [class.is-invalid]="_util.getError(formData.controls.amount)" placeholder="00.00">
				</div>
				<message-error [control]="formData.controls.amount" ></message-error>
			</div>
  
              <div class="form-row">
                <div class="text-right" style="width: 100%;">
                  <!-- <button type="button" class="btn btn-dark " (click)="return()"> <i class="fa fa-minus-circle"></i> Cancelar</button> &nbsp; -->
                  <button type="submit" class="btn btn-primary" [disabled]="!formData.valid" ><i class="fa fa-save"></i> 
                    <span *ngIf="isNew"> Crear Ingreso </span>
                    <span *ngIf="!isNew"> Guardar cambios</span>
                  </button>
                </div>
              </div>
          </form>
        </div>
    </div>
  
    <bud-alert [data]="_error"></bud-alert>
  </div>
  <ng-template #loading>
    <div class="card-body is-loading is-loading-lg"></div>
  </ng-template>