  <div class="container-fluid bg-white">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 col-xl-4 my-0">
        <h1 class="text-center mb-3 display-4">Inicio de sesión</h1>
        <p class="text-muted text-center mb-5">Ingreso a BudgetGT</p>
        
        <form [formGroup]="loginForm" (submit)="loginFormSubmit()">
          <div class="form-group">
            <label>Correo electronico</label>
            <input type="text" class="form-control" formControlName="email" [class.is-invalid]="_util.getError(loginForm.controls.email)" placeholder="nombre@dominio.com" tabindex="1">
            <message-error [control]="loginForm.controls.email"></message-error>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Clave</label>
              </div>
              <div class="col-auto">
                <a routerLink="/reset-password" class="form-text small text-muted"> ¿Olvidaste tu clave?</a>
              </div>
            </div>

            <div class="input-group input-group-merge">
              <input [type]="viewPassword ? 'text' : 'password' " formControlName="password" [class.is-invalid]="_util.getError(loginForm.controls.password)" class="form-control form-control-appended" placeholder="Ingresa tu clave" tabindex="2">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i (click)="viewPassword ? viewPassword=false : viewPassword=true" [class]="viewPassword ? 'fa fa-eye-slash hover' : 'fa fa-eye hover'"></i>
                </span>
              </div>
            </div>
            <message-error [control]="loginForm.controls.password"></message-error>
          </div>

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" id="remember" type="checkbox" formControlName="remember" tabindex="4">
              <label class="form-check-label" for="remember">
                Mantener iniciada mi sesión
              </label>
            </div>
          </div>

          <button id="_sendForm" class="btn btn-lg btn-block btn-primary mb-3" [disabled]="!loginForm.valid" tabindex="5"> Ingresar </button>
        </form>

        <!-- Inicio de Alerta de correo duplicado -->
        <div *ngIf="_error.view" class="alert alert-danger text-center" role="alert">
          <strong style="color: #721c24">{{_error.title}}</strong>
          <span> {{_error.message}}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Fin de Alerta de correo duplicado -->

        <div class="text-center">
          <small class="text-muted text-center">
            ¿Aún no tienes cuenta? <a routerLink="/register">Crea una, es gratis</a>.
          </small>
        </div>
        <hr>
        <p class="text-right">
          <small class="text-muted">BudgetGT - 2018 </small>
        </p>
      </div>
    </div>
  </div>