<div class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <nav class="navbar navbar-expand-lg page-header bg-dark">
            <a class=" btn btn-link sidebar-toggle sidebar-mobile-toggle d-md-down-none text-white"> <i class="fa fa-bars"></i> </a>
            <a class="navbar-brand text-white"><b> BudgetGT </b></a>

            <ul class="navbar-nav ml-auto navbar-collapse collapse">
                <li class="nav-item">
                    <a  class="btn btn-link d-md-down-none text-success"> <i class="fa fa-plus-circle"></i> Ingreso </a>
                </li>
                <li class="nav-item">
                    <a  class="btn btn-link d-md-down-none text-danger"> <i class="fa fa-plus-circle"></i> Egreso </a>
                </li>

                <li class="nav-item dropdown text-white">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span class="small ml-1 d-md-down-none"> &nbsp; Wesner Che</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header"> <b> CUENTA </b></div>
                        <a class="dropdown-item">
                            <i class="fa fa-user"></i> Perfil
                        </a>

                        <a class="dropdown-item text-danger">
                            <i class="fa fa-lock"></i> Cerrar Sesión
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="main-container">
            <div class="sidebar bg-white border-right">
                <nav class="sidebar-nav">
                    <ul class="nav">

                        <li class="nav-title d-sm-block d-md-block d-lg-none d-xl-none">accesos</li>
                        <li class="nav-item d-sm-block d-md-block d-lg-none d-xl-none">
                            <a  class="nav-link text-success"> <i class="fa fa-plus-circle text-success"></i> Ingreso </a>
                        </li>
                        <li class="nav-item d-sm-block d-md-block d-lg-none d-xl-none">
                            <a  class="nav-link text-danger"> <i class="fa fa-plus-circle text-danger"></i> Egreso </a>
                        </li>                        

                        <li class="nav-item d-sm-block d-md-block d-lg-none d-xl-none"> <hr class="my-3"> </li>
                        <li class="nav-title">cuenta</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon icon-user"></i> Perfil
                            </a>
                        </li>

                        <li class="nav-item"> <hr class="my-3"> </li>
                        <li class="nav-title">dashboard</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon icon-speedometer"></i> Dashboard
                            </a>
                        </li>

                        <li class="nav-item"> <hr class="my-3"> </li>
                        <li class="nav-title">presupuestos</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon icon-speedometer"></i> Presupuestos
                            </a>
                        </li>

                        <li class="nav-item"> <hr class="my-3"> </li>
                        <li class="nav-title">general</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon icon-speedometer"></i> Catalogos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon icon-speedometer"></i> Deudas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon icon-speedometer"></i> Tarjetas de crédito
                            </a>
                        </li>

                        <li class="nav-item"> <hr class="my-3"> </li>
                        <li class="nav-title">reportes</li>
                        <li class="nav-item nav-dropdown">
                            <a  class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-energy"></i> Listado de reportes <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="nav-dropdown-items bg-light">
                                <li class="nav-item">
                                    <a href="alerts.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Alerts
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="buttons.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Buttons
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="cards.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Cards
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="modals.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Modals
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="tabs.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Tabs
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="progress-bars.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Progress Bars
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="widgets.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Widgets
                                    </a>
                                </li>
                            </ul>
                        </li>

                        
                        <!-- <li class="nav-item nav-dropdown">
                            <a  class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-energy"></i> UI Kits <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="nav-dropdown-items bg-light">
                                <li class="nav-item">
                                    <a href="alerts.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Alerts
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="buttons.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Buttons
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="cards.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Cards
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="modals.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Modals
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="tabs.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Tabs
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="progress-bars.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Progress Bars
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="widgets.html" class="nav-link">
                                        <i class="icon icon-energy"></i> Widgets
                                    </a>
                                </li>
                            </ul>
                        </li> -->

                    </ul>
                </nav>
            </div>

            <div class="content">
                <router-outlet></router-outlet>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                Default Card
                            </div>

                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque deleniti dolor dolores doloribus ducimus ea, eveniet facere hic illo illum laborum maiores nemo optio quas quis tenetur totam.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-light">
                                Light Header
                            </div>

                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque deleniti dolor dolores doloribus ducimus ea, eveniet facere hic illo illum laborum maiores nemo optio quas quis tenetur totam.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque deleniti dolor dolores doloribus ducimus ea, eveniet facere hic illo illum laborum maiores nemo optio quas quis tenetur totam.
                            </div>

                            <div class="card-footer bg-light">
                                Card Footer
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-light">
                                Card with Actions

                                <div class="card-actions">
                                    <a  class="btn">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>

                                    <a  class="btn">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header border border-top-0 border-right-0 border-left-0">
                                Card Divded Header
                            </div>

                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-light">
                                Light Card
                            </div>

                            <div class="card-body bg-light">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card text-white border-0">
                            <div class="card-header bg-primary">
                                Primary Card
                            </div>

                            <div class="card-body bg-primary">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white border-0">
                            <div class="card-header bg-info">
                                Info Card
                            </div>

                            <div class="card-body bg-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white border-0">
                            <div class="card-header bg-danger">
                                Danger Card
                            </div>

                            <div class="card-body bg-danger">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card text-white border-0">
                            <div class="card-header bg-success">
                                Success Card
                            </div>

                            <div class="card-body bg-success">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white border-0">
                            <div class="card-header bg-warning">
                                Warning Card
                            </div>

                            <div class="card-body bg-warning">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white border-0">
                            <div class="card-header bg-dark">
                                Dark Card
                            </div>

                            <div class="card-body bg-dark">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam cupiditate dolore facere magnam, rerum sint velit voluptate voluptates? A assumenda consequuntur debitis eaque est in ipsam iure molestiae quam.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>