.general-content, .left-bar, .content{ height: calc(100vh - 45.125px); }
.left-bar, .content{ 
     position: fixed; 
}

.general-content{ width: 100vw !important; }

.left-bar{ 
     background-color: var(--light); 
     transition: 0.5s;
}
.content{
     transition: margin-left 0.5s;
}

.left-bar.openBar{ width: 250px;  }
.content.openBar{ width: calc(100vw - 252px); margin-left: 250px; }

.left-bar.closeBar{ width: 0px; margin-left: -250px; }
.content.closeBar{ width: 100vw !important; margin-left: 0px; }

a:hover{ cursor: pointer; }