<header [modelHeader]="_modelHeader"></header>

<div class="container">
     <div class="card">
          <div class="card-header font-weight-bold">
               Información de seguridad
          </div>
          
          <div class="card-body">
               <form [formGroup]="formChangePass" (submit)="formChangePassSubmit()">
                  
                <div class="form-group required">
                      <label>
                            <i class="fa fa-info-circle _popover hover" title="Contraseña Actual" data-content="La contraseña que actuamente esta registrada en el sistema."></i>
                            Contraseña Actual
                      </label>
                      <div class="input-group input-group-merge">
                          <input [type]="viewPassword0 ? 'text' : 'password' " formControlName="old_password" class="form-control form-control-appended" [class.is-invalid]="_util.getError(formChangePass.controls.old_password)" placeholder="*********">
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i (click)="viewPassword0 ? viewPassword0=false : viewPassword0=true" [class]="viewPassword0 ? 'fa fa-eye-slash hover' : 'fa fa-eye hover'"></i>
                            </span>
                          </div>
                        </div>                      
                      <message-error [control]="formChangePass.controls.old_password" ></message-error>
                  </div>

                    <div class="form-row">
                         <div class="form-group required col-md-6">
                              <label>
                                   <i class="fa fa-info-circle _popover hover" title="Nueva contraseña" data-content="Una contraseña segura es aquella que al menos tiene 8 caractes e incluye números, mayusculas y simbolos."></i>
                                   Nueva Contraseña
                              </label>

                              <div class="input-group input-group-merge">
                                <input [type]="viewPassword ? 'text' : 'password' " formControlName="new_password" class="form-control form-control-appended" [class.is-invalid]="_util.getError(formChangePass.controls.new_password)" placeholder="*********" (blur)="validationEqualsPassword()">
                                <div class="input-group-append">
                                  <span class="input-group-text">
                                    <i (click)="viewPassword ? viewPassword=false : viewPassword=true" [class]="viewPassword ? 'fa fa-eye-slash hover' : 'fa fa-eye hover'"></i>
                                  </span>
                                </div>
                              </div>
                              <small class="form-text text-muted">
                                  Tu nueva contraseña debe tener entre 8-20 caractres de largo, no puede contener espacios en blanco o emojis.
                              </small>
                              <message-error [control]="formChangePass.controls.new_password" ></message-error>
                              <div *ngIf="formChangePass.controls.new_password.getError('invalidEquals')" class="invalid-feedback">La clave anterior y la nueva no pueden ser iguales.</div>
                         </div>
          
                         <div class="form-group required col-md-6">
                              <label>
                                <i class="fa fa-info-circle _popover hover" title="Confrimación de contraseña" data-content="Queremos estar seguros que haz ingresado correctamente tu clave"></i>
                                Confirmación de la nueva contraseña
                              </label>
                              <div class="input-group input-group-merge">
                                <input [type]="viewPassword ? 'text' : 'password' " formControlName="confirmation_new_password" class="form-control form-control-appended" [class.is-invalid]="_util.getError(formChangePass.controls.confirmation_new_password)" placeholder="*********" (blur)="vaidationPassword()">
                                <div class="input-group-append">
                                  <span class="input-group-text">
                                    <i (click)="viewPassword ? viewPassword=false : viewPassword=true" [class]="viewPassword ? 'fa fa-eye-slash hover' : 'fa fa-eye hover'"></i>
                                  </span>
                                </div>
                              </div>
                              <message-error [control]="formChangePass.controls.confirmation_new_password" ></message-error>
                              <div *ngIf="formChangePass.controls.confirmation_new_password.getError('noMach')" class="invalid-feedback">Las claves no coinciden</div>
                         </div>

                    </div>
          
                    <button id="_sendForm" class="btn btn-lg btn-block btn-primary mb-3" [disabled]="!formChangePass.valid"> Actualizar contraseña </button>
               </form>

               <bud-alert [data]="_error"></bud-alert>
          </div>
     </div>
</div>