<div class="container-fluid">
  <div class="header">
      <div class="header-body">
        <h6 class="header-pretitle"> DASHBOARD </h6>
        <h1 class="header-title"> Resumen General</h1>
      </div>
  </div>

  <div>
      <div class="row">
          <div class="col-12 col-lg-6 col-xl">
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="card-title text-uppercase text-muted mb-2">Total de Ingresos</h6>
                    <span class="h2 mb-0 text-success">{{ indicators.total_income | currency:_util.getDataUser('currency_symbol'):'symbol' }}</span>
                  </div>
                </div> 
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 col-xl">
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="card-title text-uppercase text-muted mb-2">Total de Egresos</h6>
                    <span class="h2 mb-0 text-danger">{{ (indicators.total_expenses_effected + indicators.total_expenses_no_effected) | currency:_util.getDataUser('currency_symbol'):'symbol' }}</span>
                  </div>
                </div> 
              </div>
            </div>
          </div>


          <div class="col-12 col-lg-6 col-xl">
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="card-title text-uppercase text-muted mb-2">Dinero en reserva</h6>
                    <span class="h2 mb-0 text-warning">{{ indicators.total_expenses_no_effected | currency:_util.getDataUser('currency_symbol'):'symbol' }}</span>
                  </div>
                </div> 
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6 col-xl">
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="card-title text-uppercase text-muted mb-2">Dinero Disponible</h6>
                    <span class="h2 mb-0 text-dark">{{ indicators.total_money_available | currency:_util.getDataUser('currency_symbol'):'symbol' }}</span>
                  </div>
                </div> 
              </div>
            </div>
          </div>


      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Ingresos</h3>
              <div>
                <canvas id="chart-incomes"></canvas>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Egresos</h3>
              <div>
                <canvas id="chart-expenses"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Gastos por categorias</h2>
            <div>
              <canvas id="chart-categories"></canvas>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>