<div>
  <div class="card">
    <img class="card-img-top" src="../../../../assets/fixed-icome.jpg" height="150" alt="Card image cap">
    <div class="card-header bg-dark">
        <div class="row">
          <h2 class="card-header-title text-white">Detalles la tarjeta de crédito</h2>
        </div>
    </div>
    <div class="card-img-overlay text-right">
        <div class="btn-group-vertical col-sm-3">
          <button type="button" class="btn btn-warning shadow" (click)="return()"> <i class="fa fa-long-arrow-alt-left"></i> Regresar</button>
          <button type="button" [disabled]="_util.isEmptyObject(creditCard)" class="btn btn-warning shadow" (click)="edit()"> <i class="fa fa-edit"></i> Editar</button>
        </div>
    </div>
    <div class="card-body" *ngIf="isLoaded; else loading">
      <div *ngIf="_util.isEmptyObject(creditCard)">
          <message-empty></message-empty>
      </div>
      <div class="row" *ngIf="!_util.isEmptyObject(creditCard)">
        <div class="col-sm-12 card card-inactive rounded-0">
          <div class="card-body">
            <h3 class="card-title">&nbsp;</h3>
            <div >
              <dl class="row">
                <dt class="col-sm-5 ">Fecha de creación </dt> 
                <dd class="col-sm-7 "> {{creditCard.create_at}} </dd>
                
                <dt class="col-sm-5 ">Fecha de actualización </dt> 
                <dd class="col-sm-7 "> {{creditCard.update_at}} </dd>
                
                <dt class="col-sm-5 ">Nombre </dt> 
                <dd class="col-sm-7 "> {{creditCard.name}} </dd>
                
                <dt class="col-sm-5 ">Número de tarjeta </dt>
                <dd class="col-sm-7 "> {{creditCard.number}} </dd>

                <dt class="col-sm-5 ">Emisor </dt>
                <dd class="col-sm-7 "> {{creditCard.issuer}} </dd>
                
                <dt class="col-sm-5 ">Día de corte </dt>
                <dd class="col-sm-7 "> {{creditCard.cutoff_day}} de cada mes.</dd>
                
                <dt class="col-sm-5 ">Día de pago </dt>
                <dd class="col-sm-7 "> {{creditCard.payment_day}} de cada mes.</dd>
                
                <dt class="col-sm-5 ">Límite de crédito </dt>
                <dd class="col-sm-7 "> {{creditCard.credit_limit | currency:_util.getDataUser('currency_symbol'):'symbol' }} </dd>
                
                <dt class="col-sm-5 ">Saldo disponible </dt>
                <dd class="col-sm-7 text-success font-weight-bold"> {{creditCard.balance | currency:_util.getDataUser('currency_symbol'):'symbol' }} </dd>
                
                <dt class="col-sm-5 ">Saldo pendiente de pago </dt>
                <dd class="col-sm-7 text-danger font-weight-bold"> {{creditCard.amount_owed | currency:_util.getDataUser('currency_symbol'):'symbol' }} </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <div class="card-body is-loading is-loading-lg"></div>
    </ng-template>
  </div>
</div>