<div class="container-fluid">
  <div class="header">
    <div class="header-body">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="header-pretitle"> {{_modelHeader.title | uppercase}} </h6>
          <h1 class="header-title"> {{_modelHeader.name | uppercase}} </h1>
          <small class="text-muted"> {{_modelHeader.description}} </small>
        </div>
        <div class="col-lg-auto col-md-auto col-sm-12">
            <div style="height: 10px;" class="d-sm-block d-md-none d-lg-none d-xl-none"></div>
            <button type="button" *ngIf="_modelHeader.button.view" class="btn btn-{{_modelHeader.button.className}} btn-block" (click)="clickButtonSubmit()">
              <i class="fa fa-plus-circle"></i> &nbsp; {{_modelHeader.button.title}}
            </button>
        </div>
      </div>
    </div>
  </div>
</div>