<div class="card">
          <div class="card-header bg-dark">
                <h2 class="card-header-title text-white">Ingresos Historicos</h2>
          </div>
          <div class="card-body">
      
            <div class="">
              <form (submit)="formDataSubmit()" [formGroup]="formData">
                <div class="form-row">
                  <div class="form-group col-md-4 required">
                    <label for="">Selecciona una fecha de inicio</label>
                    <input type="date" class="form-control" formControlName="dateStart">
                    <message-error [control]="formData.controls.dateStart" ></message-error>
                  </div>
      
                  <div class="form-group col-md-4 required">
                    <label for="">Selecciona una fecha de fin</label>
                    <input type="date" class="form-control" formControlName="dateEnd">
                    <message-error [control]="formData.controls.dateEnd" ></message-error>
                  </div>
      
                  <div class="form-group col-md-4">
                    <label> &nbsp; </label>
                    <button type="submit" [disabled]="!formData.valid" class="form-control btn btn-primary"> <i class="fa fa-search"></i> Consultar</button>
                  </div>
                </div>
              </form>
            </div>
      
            <div *ngIf="isView">
              <div class="table-responsive" *ngIf="listIncomes; else loading">
                    <table class="table table-sm">
                         <thead>
                              <tr class="text-center">
                                   <th class="align-middle" scope="col">#</th>
                                   <th class="align-middle" scope="col">Fecha de Creación</th>
                                   <th class="align-middle" scope="col">Nombre</th>
                                   <th class="align-middle" scope="col">Descripción</th>
                                   <th class="align-middle" scope="col">Monto</th>
                                   <th class="align-middle" scope="col">Nombre de la cuenta</th>
                                   <th class="align-middle" scope="col">Categoria</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr *ngFor="let in of (listIncomes | async)?.body; let i=index">
                                   <th scope="row"> {{i+1}} </th>
                                   <td> {{in.created_at}} </td>
                                   <td> {{in.name}} </td>
                                   <td> {{in.description}} </td>
                                   <td> {{in.amount | currency:_util.getDataUser('currency_symbol'):'symbol' }} </td>
                                   <td> {{in.account_name}} </td>
                                   <td> {{in.category_name}} </td>
                              </tr>
                         </tbody>
                    </table>
              </div>
            </div>
      
            <ng-template #loading>
                <div class="card-body is-loading is-loading-lg"></div>
            </ng-template>
          </div>
        </div>