/*
     Wesner
     Agosto, 2018
     BudgetGT
*/
.hover:hover, a:hover{ cursor: pointer; }

.sidebar-color{
     background-image: linear-gradient(to bottom right,rgba(18,111,235,.9),rgba(114,3,225,.9));
     background-repeat: no-repeat,no-repeat;
     background-position: 50%,50%;
     background-size: cover,cover;     
}
/* .sidebar-color .nav-dropdown{
     background: none;
} */
.sidebar-color .nav-item{
     color: #fff;
}

form .required label::after{
     content: "*";
     color: #e63757;
     font-weight: bold;
}
.group-input{
     padding: .125rem .5rem;
     border-radius: .25rem;
     width: 100%;
     background-color: #fff;
     background-clip: padding-box;
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     color: #12263f;
     border: 1px solid #d2ddec;
}
.group-input-normal{
     padding: .5rem .75rem;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
     .modal-body-data{
          height: auto; 
          overflow: auto;
     }
     .modal-dialog-loading{ margin: 0px !important; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
     .modal-body-data{
          height: auto; 
          overflow: auto;
     }
     .modal-dialog-loading{ margin: 0px !important; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
     .modal-body-data{
          height: 450px; 
          overflow: scroll;
     }
     .modal-dialog-loading{ margin: 0px !important; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
     .modal-body-data{
          height: 450px; 
          overflow: scroll;
     }
     .modal-dialog-loading{ margin: 0px !important; }
}


.modal-body-loading, .modal-content-loading{
     margin: 0px !important;
     border-radius: 0px;
     height: 100vh;
     width: 100vw;
     background: rgba(18, 38, 63, 0.1);
}
.modal-dialog-loading{ margin: 0px !important; }