/*
     Wesner
     Agosto, 2018
     BudgetGT
*/
:root{
     --blue:#2c7be5;
     --indigo:#727cf5;
     --purple:#6b5eae;
     --pink:#ff679b;
     --red:#e63757;
     --orange:#fd7e14;
     --yellow:#f6c343;
     --green:#00d97e;
     --teal:#02a8b5;
     --cyan:#39afd1;
     --gray:#95aac9;
     --gray-dark:#3b506c;
     --primary:#2c7be5;
     --secondary:#6e84a3;
     --success:#00d97e;
     --info:#39afd1;
     --warning:#f6c343;
     --danger:#e63757;
     --light:#edf2f9;
     --dark:#12263f;
     --white:#fff;
     --body:#f9fbfd;
}
i[class~='icon']{ font-size: 1em; }
i[class~='medium']{ font-size: 2em; }
i[class~='large']{ font-size: 2em; }
i[class~='hover']:hover{ cursor: pointer; }