<div *ngIf="!isLoaded; else loading">
    <div class="card">
        <img class="card-img-top" src="../../../../assets/fixed-icome.jpg" height="150" alt="Card image cap">
        <div class="card-header bg-dark">
            <div class="row">
              <h2 *ngIf="isNew" class="card-header-title text-white">Creación de un ingreso fijo</h2>
              <h2 *ngIf="!isNew" class="card-header-title text-white">Edición de un ingreso fijo</h2>
            </div>
        </div>
        <div class="card-img-overlay text-right">
            <div class="btn-group-vertical col-sm-3">
              <button type="button" class="btn btn-warning shadow" (click)="return()"> <i class="fa fa-long-arrow-alt-left"></i> Regresar</button>
            </div>
        </div>
        <div class="card-body" style="z-index: 2">
          <form class="form p-5" [formGroup]="formData" (submit)="formDataSubmit()">
              <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>
                              <i class="fa fa-info-circle _popover hover" title="Fecha de creación" data-content="Fecha y hora exacta en la que creaste tu cuenta en BudgetGT."></i>
                              Fecha de creación
                        </label>
                        <input type="text" [disableControl]="true" formControlName="create_at" class="form-control " placeholder="YYY-MM-DD HH:MM:SS">
                        <message-error [control]="formData.controls.create_at" ></message-error>
                    </div>

                    <div class="form-group col-md-6">
                        <label>
                              <i class="fa fa-info-circle _popover hover" title="Fecha de actualización" data-content="Fecha y hora exacta de la última vez que actualizaste tu cuenta."></i>
                              Fecha de la última actualización
                        </label>
                        <input type="text" [disableControl]="true" formControlName="update_at" class="form-control " placeholder="YYY-MM-DD HH:MM:SS">
                        <message-error [control]="formData.controls.update_at" ></message-error>
                    </div>
              </div>

              <div class="form-group required">
                  <label>
                        <i class="fa fa-info-circle _popover hover" title="Nombre (s)" data-content="Ingresa tu primer nombre o todos tus nombres."></i>
                        Nombre del ingreso fijo
                  </label>
                  <input type="text" [disableControl]="readonlyInput" formControlName="name" class="form-control " [class.is-invalid]="_util.getError(formData.controls.name)" placeholder="Nombre del gasto fijo">
                  <message-error [control]="formData.controls.name" ></message-error>
              </div>

              <div class="form-group">
                    <label>
                        <i class="fa fa-info-circle _popover hover" title="Nombre (s)" data-content="Ingresa tu primer nombre o todos tus nombres."></i>
                        Descripción
                    </label>
                    <input type="text" [disableControl]="readonlyInput" formControlName="description" class="form-control" [class.is-invalid]="_util.getError(formData.controls.description)" placeholder="Descripción de la categoria">
                    <message-error [control]="formData.controls.description" ></message-error>
              </div>

              <div class="form-group">
                  <label>
                      <i class="fa fa-info-circle _popover hover" title="Nombre (s)" data-content="Ingresa tu primer nombre o todos tus nombres."></i>
                      Monto
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> {{ _util.getDataUser('currency_symbol') }} </span>
                    </div>
                    <input type="text" [disableControl]="readonlyInput" formControlName="amount" class="form-control" [class.is-invalid]="_util.getError(formData.controls.amount)" placeholder="Descripción de la categoria">
                  </div>
                  <message-error [control]="formData.controls.amount" ></message-error>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label>
                      <i class="fa fa-info-circle _popover hover" title="Nombre (s)" data-content="Ingresa tu primer nombre o todos tus nombres."></i>
                      Día de pago
                    </label>
                    <select [disableControl]="readonlyInput" formControlName="payday" class="form-control" [class.is-invalid]="_util.getError(formData.controls.payday)">
                      <option [value]="d" *ngFor="let d of listDayPay"> {{d}} </option>
                    </select>
                    <message-error [control]="formData.controls.payday" ></message-error>
                </div>

                <div class="form-group col-md-4 ">
                    <label>
                      <i class="fa fa-info-circle _popover hover" title="Nombre (s)" data-content="Ingresa tu primer nombre o todos tus nombres."></i>
                      Cuenta
                    </label>
                    <select [disableControl]="readonlyInput" formControlName="account_fk" class="form-control" [class.is-invalid]="_util.getError(formData.controls.account_fk)">
                      <option [value]="a.id" *ngFor="let a of listAccounts"> {{ a.name }} </option>
                    </select>
                    <message-error [control]="formData.controls.account_fk" ></message-error>
                </div>

                <div class="form-group col-md-4 ">
                  <label>
                    <i class="fa fa-info-circle _popover hover" title="Nombre (s)" data-content="Ingresa tu primer nombre o todos tus nombres."></i>
                    Categoria
                  </label>
                  <select [disableControl]="readonlyInput" formControlName="category_fk" class="form-control" [class.is-invalid]="_util.getError(formData.controls.category_fk)">
                    <option [value]="c.id" *ngFor="let c of listCategories"> {{ c.name }} </option>
                  </select>
                  <message-error [control]="formData.controls.category_fk" ></message-error>
                </div>
              </div>

              <div class="card border-ligth shadow-none form-row" formGroupName="periodicity">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-md-6">
                          <h4 class="card-title pt-3">
                            <i class="fa fa-info-circle _popover hover" title="Nombre (s)" data-content="Ingresa tu primer nombre o todos tus nombres."></i>
                            PERIODICIDAD
                          </h4>
                      </div>
                      <div class="col-md-6 text-right">
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="selectCheckAll()"> <i class="fa fa-check-square"></i> Seleccionar todos</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="deselectCheckAll()"> <i class="fa fa-minus-square"></i> Deseleccionar todos</button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body form-row">
                    <div class="form-group col-md-3">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="january" formControlName="january">
                        <label class="form-check-label" for="january">Enero</label>
                      </div> <br>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="february" formControlName="february">
                        <label class="form-check-label" for="february">Febrero</label>
                      </div> <br>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="march" formControlName="march">
                        <label class="form-check-label" for="march">Marzo</label>
                      </div> <br>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="april" formControlName="april">
                          <label class="form-check-label" for="april">Abril</label>
                        </div> <br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="may" formControlName="may">
                          <label class="form-check-label" for="may">Mayo</label>
                        </div> <br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="june" formControlName="june">
                          <label class="form-check-label" for="june">Junio</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="july" formControlName="july">
                          <label class="form-check-label" for="july">Julio</label>
                        </div> <br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="august" formControlName="august">
                          <label class="form-check-label" for="august">Agosto</label>
                        </div> <br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="september" formControlName="september">
                          <label class="form-check-label" for="september">Septiembre</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="october" formControlName="october">
                          <label class="form-check-label" for="october">Octubre</label>
                        </div> <br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="november" formControlName="november">
                          <label class="form-check-label" for="november">Noviembre</label>
                        </div> <br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="december" formControlName="december">
                          <label class="form-check-label" for="december">Diciembre</label>
                        </div>
                    </div>
                  </div>
              </div>

              <div class="form-row">
                <div class="text-right" style="width: 100%;">
                  <button type="button" class="btn btn-dark " (click)="return()"> <i class="fa fa-minus-circle"></i> Cancelar</button> &nbsp;
                  <button type="submit" class="btn btn-primary" [disabled]="!formData.valid" ><i class="fa fa-save"></i> 
                    <span *ngIf="isNew"> Crear Ingreso </span>
                    <span *ngIf="!isNew"> Guardar cambios</span>
                  </button>
                </div>
              </div>
          </form>
        </div>
    </div>

  <bud-alert [data]="_error"></bud-alert>
</div>
<ng-template #loading>
  <div class="card-body is-loading is-loading-lg"></div>
</ng-template>